# OS files
.DS_Store

# Documents
*.pptx
*.docx
*.pdf

# Temp files
*.tmp.*

# Backups
*_backup.*

# Thumbnails
thumbnails/

# Large media files (exceed GitHub 100MB limit)
amdel.mp4
R3SUP_Catalogue_04_Lemon_4k_Layered_RGB_Final_FTP_6PACK.webp
